/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* General Styles */
 
html {
  font-size: 16px;
	
}
 
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
 
}

img {
  width: 100%;
}


 
ul, 
ol {

list-style-type: none;
 
}
 
a {
  color: #e2e3ed;
  text-decoration: none;
	
}
 
h2 {
  font-family: 'Alata', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
 
}
 
h3, 
h4 {
  font-family: 'Alata', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;

 
}
 
p {
font-family: 'Nunito Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
	
}
 
 



  
  
  
  /* -------------------- Base Header - Footer Styles -------------------- */
  
  header,
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header {
  
    background: #202322;
    width: 100%;
  }
  
  header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }
  
  
  
  header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;
  }

 
  
  footer {
    flex-direction: column;
    background: #202322;
    color: white;
  }
  
  footer p {
    margin: 0;
  }
  
  footer .content-wrapper {
    width: 55%;
    margin: 50px 0;
  }
  
  footer .contact {
    margin-bottom: 50px;
  }
  
 

  footer figure {
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }
  
  
  
  footer .copyright {
    margin: 20px 0;
    text-align: center;
  }
  
  
  /* -------------------- MOBILE STYLES-------------------- */
  
  /***** BASE STYLES *****/
body {
  color: #2b2b2b;
  font-family: 'Nunito Sans', sans-serif;
}



/***** HEADER *****/

header {
 
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap; 
	width: 100%;
  background: #E8F0E4;
  overflow-x: hidden;
}


header h1 {
  color: #be4088;
  font-family: 'Alata', sans-serif;
  font-size: 3.5rem;
  
  text-align: center;

  
  
}
nav {

  display: flex;
  align-items: center;
	justify-content: space-around;
	flex-flow: row; 
	width: 100%;
  

}

nav ul {

  text-align: center;
  padding-inline-start: 0px;
}
nav ul li {
  width: 100%;
  text-align: center;
  padding-right: 5px;
  
 
}
nav ul li a {
  color: #351D77;
  font-size: 1em;
 
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

nav ul li a:hover {
  color: #9d9bc2;
}

nav ul li .nav-contact {
  border-radius: 12px;
  background-color: #f5c161;
  border: none;
  padding-right: 0px;
  padding-left: 0px
}

header h3 {
  clear: both;
  color: #9b9b9b;
  font-family: 'Alata', sans-serif;
  padding: 0.5rem;
  width: 70%;

}

/***** ABOUT *****/
#about .about-wrapper {
  display: block;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
}

#about h2 {
  font-family: 'Alata', sans-serif;
  font-size: 3em;
  text-align: center;
  color: #351D77;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

#about h3 {
  font-family: 'Alata', sans-serif;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  color: #575656;

}

#about p {
  color: #575656;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;

}

#about .image {
  width: 30%;
  margin-left: 35%;
  
}

/***** SKILLS *****/

.skills-wrapper {
  display: block;
  width: 100%;
  
}
#skills {
  background-color: #EEE4F0;
  padding-top: 60px;
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
  
}

#skills .skill {
  
  padding: 15px 0;
  margin: 20px 0;
  text-transform: uppercase;
  background: #EC91C4;
  border-radius: 10px;
  
}



#skills h3 {
  width: 100%;
  color: #351D77;
  text-align: center;
}

#skills h2 {
  color: #351D77;
  text-align: center;
}

#skills p {
font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  
  
}

#skills .skills {
  width: 100%;
  padding: 15px 0;
    margin: 20px 0;
}

/***** PROJECTS ******/

#projects {
  
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #e7ecf3;
    


}

.my-projects {
  display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 10px;
  

}

#projects h2 {
  color: #351D77;
  text-align: center;
  
}

#projects h3 {
  color: #351D77;
  padding: 1rem;
  text-align: center;
  
}

#projects p {
  font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #575656;
    text-align: center;
  
    
    
  }

#projects .project-image {
  filter: drop-shadow(1px 2px 6px lightgrey);
  width: 100%;
  
}

.single-project {
  width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 40px;

}

.project-description {
  padding-top: 20px;
  margin: 0 0 30px 0;

}

#projects .live-page-link {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f5c161;
  color: #351D77;
  border: none;
  padding: 10px;
  text-transform: uppercase;
}

#projects a {
  color: #351D77
}

#projects a:hover {
  color: #575656;
}

/****** CONTACT ******/

#contact {
  background-color: #e8f0e4;
  padding: 50px 0;
  width: 100%;
  padding-top: 60px;
  padding-top: 60px;

}
#contact .contact-wrapper {
  width: 100%;
}

#contact img#contact-img {
  display: none;
}


#contact h2 {
  font-family: 'Alata', sans-serif;
  font-size: 3rem;
  line-height: 1.4rem;
  color: #351D77;
  text-align: center;
}
#contact #email-header {
  
  font-weight: 400;
  padding: 0.5rem;
  color: #575656;
  text-align: center;
}
#contact #socialmedia-header {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
}
#contact a {
  color: #be4088;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem;
}

#contact p {
  text-align: center;
}

#contact a:hover {
  color: #d375aa;

}
#contact ul {
  list-style: none;
  text-align: center;
}
#contact ul li {
  display: inline-block;
}


#contact i {
	font-size: 2em;
  padding: 0;
  margin: 0;
}
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
  }
  
  /*
   * Extends the .visuallyhidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
     @media only screen and (min-width:768px) {
      /*Tablet styles here*/
    
      .content-wrapper {
        max-width: 960px;
      }
    
      /* HEADER */

      

      .tagline {
        width: 75%;
        padding: 0;
      }

      /* ABOUT */

      .about-wrapper {
        display: block;
        width: 100%;
        
        
        

      }


      /* SKILLS */

      .skills-container {
        width: 75%;
        padding-left: 12.5%;
        padding-bottom: 80px;
        
      }

      .skills-wrapper {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-flow: row wrap;
        text-transform: uppercase;
      }

      .skill {
        width: 30%;
      }

      /* PROJECTS */

      #projects {
        width: 100%;
      }

      .my-projects {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        flex-flow: row wrap;
      
       
      
      }

      .single-project {
        width: 40%;
      }

      

      /* CONTACT */


      .contact-wrapper {
        width: 100%;
        
      }

     #contact ul {
       padding-left: 0;
     }
     }




      


      
     

      


    
    
    
    
      
  
    @media only screen and (min-width:1200px) {
      /*Desktop styles here*/

    
      .content-wrapper {
        max-width: 960px;
      }
    
      /* HEADER */

      header {
        position: fixed;
        overflow: hidden;
        z-index: 1;
      }

      .header-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
    
      }

      .tagline {
        width: 75%;
        padding: 0;
      }

      .nav-bar ul li {
        padding-right: 20px;

      }

      

      /* ABOUT */

      #about .about-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        width: 75%;
        padding-left: 12.5%;
        padding-bottom: 80px;
        
      }
        
        
        

      

      #about {
        padding-top: 170px;
      }

    

      #about .description {
        width: 60%;
        margin: 0;
     
      }

      #about h2 {
        text-align: left;
      }

      #about h3 {
        text-align: left;
      }

      #about p {
        text-align: left;
      }

      #about .image {
        width: 20%;
        margin: 0;
        
      }


      /* SKILLS */

      .skills-container {
        width: 75%;
        padding-left: 12.5%;
        padding-bottom: 80px;
        
      }

      /* PROJECTS */


      .my-projects {
        width: 75%;
        padding-left: 12.5%;
        padding-bottom: 80px;
        
      
      }
      .single-project {
        width: 30%;
      }

      

      

      /* CONTACT */


      .contact-wrapper {
        width: 75%;
        
      }

     #contact ul {
       padding-left: 0;
     }
     




      


      
     

      


    
      
      
      

   
    
    /* ==========================================================================
       Print styles.
       Inlined to avoid the additional HTTP request:
       https://www.phpied.com/delay-loading-your-print-css/
       ========================================================================== */
    
    @media print {
      *,
      *:before,
      *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
      }
      a,
      a:visited {
        text-decoration: underline;
      }
      a[href]:after {
        content: " (" attr(href) ")";
      }
      abbr[title]:after {
        content: " (" attr(title) ")";
      }
      /*
         * Don't show links that are fragment identifiers,
         * or use the `javascript:` pseudo protocol
         */
      a[href^="#"]:after,
      a[href^="javascript:"]:after {
        content: "";
      }
      pre {
        white-space: pre-wrap !important;
      }
      pre,
      blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
      }
      /*
         * Printing Tables:
         * http://css-discuss.incutio.com/wiki/Printing_Tables
         */
      thead {
        display: table-header-group;
      }
      tr,
      img {
        page-break-inside: avoid;
      }
      p,
      h2,
      h3 {
        orphans: 3;
        widows: 3;
      }
      h2,
      h3 {
        page-break-after: avoid;
      }
  
    }}